* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
    font-family: "Press Start 2P";
}
#container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-areas: "sidebar main";
    width: 70vw;
    height: 70vh;
    margin: 0 auto;
    margin-top: 12vh;
}
#main {
    grid-area: main;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    border: 3px solid #3f3f3f;
}
#new-message {
    width: 100%;
    padding: 0px 5px 5px 5px;
    margin-left: 0px;
    border-top: 3px solid #3f3f3f;
}

#new-message input{
    width: 100%;
    height: 100%;
    border: none;
}

#messages-list {
    padding: 5px 0 0 5px;
    max-height: 65vh;
    overflow: scroll;
}
#sidebar {
    grid-area: sidebar;
    padding: 5px 0 0 5px;
    border: 3px solid #3f3f3f;
    border-right: 0px;
    height: 100%;
}
